
$text: #808080;
$line: #e7e4e4;


//Default(green) theme
$accent: #b2d12d;
$accent2: #f26c1c; 
$dark-grey: #353f45;


//red theme
// $accent: #c44a35;
// $accent2: #c44a35;
// $dark-grey: #3A383B;


//blue theme
// $accent: #44c2e9;
// $accent2: #44c2e9;
// $dark-grey: #68727C;
